<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
<title>JLQuiros Post</title>
</head>
<body style="background:white;">
	<header th:replace="layout :: site-header" />
<main id="posts">
    <article style="background:aliceblue;" th:each="p : ${latest5posts}" >
      <h1 th:text="${p.title}" style="background:#EEEEEE;">Titulo</h1>
      <div class="date">
        <i>Posted on</i>
        <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">26-Jun-2017</span>
        <span th:if="${p.author}" th:remove="tag">
          <i>by</i>
          <span th:text="${p.author.firstName != null ?
                        p.author.firstName : p.author.email}">JL Quiros</span>
        </span>
      </div>
      <p class="content" th:utext="${p.text}">Post content</p>
      <ul style="    text-align: end;" th:if="${not #lists.isEmpty(p.tags)}" id="listTags">

      <li  th:each=" t: ${p.tags}" th:if="${t.id.tag} != null and ${t.id.tag} != ''" class="liTag" th:text="${t.id.tag}">Tag</li>

      </ul>
    </article>
</main>
</body>

</html>