<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/common.css" th:href="@{/css/common.css}" />
<link rel="icon" href="../public/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
	type="text/javascript"></script>


<meta th:include="this :: head" th:remove="tag" />
</head>
<body>

	<header th:fragment="site-header" th:remove="tag">
		<header>
			<a href="index.html" th:href="@{/}"><img
				src="../public/img/site-logo.png" th:src="@{/img/site-logo.jpg}"
				alt="" style="width: 20%; height: 20%;"/></a> <a href="index.html" th:href="@{/}">Home</a>
			<a
				href="posts/create.html" th:href="@{/post}">Create Post</a> 
			<a
				href="posts/create.html" th:href="@{/live}">Live Chat</a> 
			<div id="logged-in-info">
				<a href="/logout">Logout</a>
			</div>
		</header>


	</header>
	<h1>Welcome</h1>
	<p>Welcome to the Spring MVC Blog.</p>
	<footer th:fragment="site-footer"> &copy; Spring MVC Blog
		System, 2016 </footer>
</body>
</html>